{% extends "base.html" %} {% block content %}
    <h1>{{ dream.name }}</h1>
    <div class="row">
        <div class="col s6">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">{{ dream.name }}</span>
                    <p>Description: {{ dream.description }}</p>
                    <p>Timeline: {{ dream.timeline }} months</p>
                </div>
                <div class="card-action">
                    <a href="{% url 'dreams_update' dream.id %}">Edit</a>
                    <a href="{% url 'dreams_delete' dream.id %}">Delete</a>
                  </div>
            </div>
        </div>
        <div class="col s6">
            <form action="{% url 'add_step' dream.id %}" method="POST">
                {% csrf_token %} {{ step_form.as_p }}
                <input type="submit" class="btn" value="Add Step">
            </form>
            <table class="striped">
                <thead>
                    <tr>
                        <th>
                            Name
                        </th>
                        <th>
                            Description
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for step in dream.step_set.all %}
                    <tr>
                        <td>
                            {{ step.name }}
                        </td>
                        <td>
                            {{ step.description }}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

    </div>
{% endblock %}